In [2]:

import sqlalchemy as sql
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [167]:
engine = sql.create_engine(
    "mysql+pymysql://root:password@localhost:3307/data_warehouse_olist?charset=utf8mb4"
)

In [201]:
combined = pd.read_sql(sql="""
    SELECT customers.unique_id, order_items.product_id,  order_reviews.score
    FROM order_items
    LEFT JOIN orders ON (order_items.order_id = orders.order_id)
    LEFT JOIN customers ON (orders.customer_id = customers.customer_id)
    RIGHT JOIN order_reviews ON (orders.order_id = order_reviews.order_id);""", con=engine)

In [202]:
combined.drop_duplicates(['unique_id','product_id'],inplace= True)

In [203]:
combined

,unique_id,product_id,score
0,68a5590b9926689be4e10f4ae2db21a8,fd25ab760bfbba13c198fa3b4f1a0cd3,4
2,64190b91b656ab8f37eb89b93dc84584,be0dbdc3d67d55727a65d4cd696ca73c,5
3,1d47144362c14e94ccdd213e8ec277d5,d1c427060a0f73f6b889a5c7c61f2ac4,5
4,c8cf6cb6b838dc7a33ed199b825e8616,52c80cedd4e90108bf4fa6a206ef6b03,5
5,d16000272660a1fef81482ad75ba572a,3880d25d502b15b1de6fddc42ad1d67a,5
...,...,...,...
113126,50605c81f77a2171191dffee444613b2,4fb209073dc2ab6a6d3c259a7c285501,5
113127,597cbb334f18a671472f7e16648228b4,3a33c980b62eb1ef3b8ae61b6fc6fe55,5
113128,c860357db400d72a2497064f8376fba9,8ba0118a487ec8671aed57e5ef846574,5
113129,96ac4cb74918d3ace141d3d3ddc1ff02,73a7fbf8c1048131f3b531af31bcdf0e,4
113130,432d4f5ec4f462779a48a51c33950351,8fbd36d3b045f5f38b252b1513478f38,1

In [204]:
df_products = combined[['product_id', 'score']]
df_customer = combined[['unique_id', 'score']]

In [205]:
df_products= df_products.groupby("product_id").aggregate({"score":"count"})
df_products.reset_index(inplace=True)
df_products.rename(columns={"score":"product_count"},inplace=True)
df_products = df_products[df_products["product_count"] > 4]

In [206]:
df_customer= df_customer.groupby("unique_id").aggregate({"score":"count"})
df_customer.reset_index(inplace=True)
df_customer.rename(columns={"score":"customer_count"}, inplace= True)
df_customer = df_customer[df_customer["customer_count"] > 2]

In [207]:
filter_ = combined["product_id"].isin(df_products["product_id"]) & combined["unique_id"].isin(df_customer["unique_id"])
conbined = combined[filter_]

In [209]:
combined = pd.merge(left= combined, right = df_customer, on = 'unique_id',  how = 'left')
combined = pd.merge(left= combined, right = df_products, on = 'product_id',  how = 'left')

In [210]:
combined

,unique_id,product_id,score,customer_count,product_count
0,432aa6200ee9673be90863a912dc91dc,bed9b7934576c9ba61b6ba6f3babc698,5,3,6
1,fd8ccc89be43894d2553494c71a61fd8,8ae935cab2de3f74f4960de6ee604f90,4,3,5
2,a1a374f4c131638dc698c76bebd11769,8a443635fdf9759915c9be5be2e3b862,5,3,27
3,a1a374f4c131638dc698c76bebd11769,87d780fa7d2cf3710aa02dc4ca8db985,5,3,23
4,d75acd4c5b7b4dfd32b9d9172b195419,d0fe4295267f15ccaceac4fb233d8c9a,5,5,13
...,...,...,...,...,...
1014,dd8c09f1b309c9ffc302c745550a9ff3,372645c7439f9661fbbacfd129aa92ec,2,4,23
1015,dd8c09f1b309c9ffc302c745550a9ff3,525947dbe3304ac32bf51602f9557c12,2,4,10
1016,0aef107040099c08391f73e81821bbac,88c20c5a22f2ca169af8cfc2df00a7a2,1,3,12
1017,0aef107040099c08391f73e81821bbac,3625fbaf8284047185fb0351f2f84ae3,1,3,13
1018,58703c8104494f333026acd373ca9027,4dddd45aa241530edb5412e8846361fa,1,3,5

In [134]:
print('Number of unique products', combined['product_id'].nunique())
print('Number of unique users', combined['customer_id'].nunique())

Number of unique products 1345
Number of unique users 1760

In [134]:
scaler = MinMaxScaler()
combined['score'] = combined['score'].values.astype(float)
score_scaled = pd.DataFrame(scaler.fit_transform(combined['score'].values.reshape(-1,1)))
combined['score'] = score_scaled

BUILD USER-PRODUCTS MATRIX

In [135]:
combined = combined.drop_duplicates(['unique_id', 'product_id'])
user_products_matrix = combined.pivot(index='unique_id', columns='product_id', values='score')
user_products_matrix.fillna(0, inplace=True)

In [136]:
#probable error
users = user_products_matrix.index.tolist()
products = user_products_matrix.columns.tolist()

user_products_matrix = user_products_matrix.values

In [137]:
user_products_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [138]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [139]:
num_input = combined['product_id'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [140]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [141]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

y_pred = decoder_op

y_true = X

In [142]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

In [143]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

In [144]:
with tf.compat.v1.Session() as session:
    epochs = 50
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_products_matrix.shape[0] / batch_size)
    user_products_matrix = np.array_split(user_products_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_products_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_products_matrix = np.concatenate(user_products_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_products_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='score')
    pred_data.columns = ['unique_id', 'product_id', 'score']
    pred_data['unique_id'] = pred_data['unique_id'].map(lambda value: users[value])
    pred_data['product_id'] = pred_data['product_id'].map(lambda value: products[value])
    
    keys = ['unique_id', 'product_id']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index
    
    top_five_ranked = pred_data[~index_1.isin(index_2)]
    top_five_ranked = top_five_ranked.sort_values(['unique_id', 'score'], ascending=[True, False])
    top_five_ranked = top_five_ranked.groupby('unique_id').head(10)

epoch: 1 Loss: 0.36914319296677905
epoch: 2 Loss: 0.36901794870694477
epoch: 3 Loss: 0.36884625256061554
epoch: 4 Loss: 0.36861097315947217
epoch: 5 Loss: 0.36828866104284924
epoch: 6 Loss: 0.3678473581870397
epoch: 7 Loss: 0.36724352339903515
epoch: 8 Loss: 0.3664180636405945
epoch: 9 Loss: 0.3652910590171814
epoch: 10 Loss: 0.3637548585732778
epoch: 11 Loss: 0.3616654922564824
epoch: 12 Loss: 0.3588319420814514
epoch: 13 Loss: 0.35500313341617584
epoch: 14 Loss: 0.3498541017373403
epoch: 15 Loss: 0.3429752637942632
epoch: 16 Loss: 0.33387985825538635
epoch: 17 Loss: 0.32205556829770404
epoch: 18 Loss: 0.30721646547317505
epoch: 19 Loss: 0.2902962913115819
epoch: 20 Loss: 0.2732970863580704
epoch: 21 Loss: 0.256226879854997
epoch: 22 Loss: 0.23706882695357004
epoch: 23 Loss: 0.21355329205592474
epoch: 24 Loss: 0.18378194669882456
epoch: 25 Loss: 0.14623686422904333
epoch: 26 Loss: 0.1016488845149676
epoch: 27 Loss: 0.05983076182504495
epoch: 28 Loss: 0.033700027503073215
epoch: 29 Loss: 0.021818057013054688
epoch: 30 Loss: 0.0161876636557281
epoch: 31 Loss: 0.01305531213680903
epoch: 32 Loss: 0.010495565365999937
epoch: 33 Loss: 0.008243764052167535
epoch: 34 Loss: 0.0070417166377107305
epoch: 35 Loss: 0.006687779678031802
epoch: 36 Loss: 0.006493560193727414
epoch: 37 Loss: 0.006346913054585457
epoch: 38 Loss: 0.00546134845353663
epoch: 39 Loss: 0.004178623319603503
epoch: 40 Loss: 0.003992456515940527
epoch: 41 Loss: 0.003928609890863299
epoch: 42 Loss: 0.003894239974518617
epoch: 43 Loss: 0.003872632204244534
epoch: 44 Loss: 0.003857893714060386
epoch: 45 Loss: 0.0038473368622362614
epoch: 46 Loss: 0.0038395465817302465
epoch: 47 Loss: 0.003833673195913434
epoch: 48 Loss: 0.00382914572643737
epoch: 49 Loss: 0.0038255692925304174
epoch: 50 Loss: 0.0038226760613421598

C:\Users\HP\AppData\Local\Temp\ipykernel_3636\2993041711.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pred_data = pred_data.append(pd.DataFrame(preds))

In [145]:
top_five_ranked.loc[top_five_ranked['unique_id'] == 'f0911a59fdcd8b103c3c87226d8769c5']

,unique_id,product_id,score
92928,f0911a59fdcd8b103c3c87226d8769c5,99a4788cb24856965c36a24e339b6058,0.032821
92710,f0911a59fdcd8b103c3c87226d8769c5,154e7e31ebfa092203795c972e5804a6,0.027003
92814,f0911a59fdcd8b103c3c87226d8769c5,53759a2ecddad2bb87a079a1f1519f73,0.022775
92749,f0911a59fdcd8b103c3c87226d8769c5,2b4609f8948be18874494203496bc318,0.020909
92873,f0911a59fdcd8b103c3c87226d8769c5,7c1bd920dbdf22470b68bde975dd3ccf,0.020763
93095,f0911a59fdcd8b103c3c87226d8769c5,ff55834c0b3272853dfe62340f2bb91b,0.020345
92773,f0911a59fdcd8b103c3c87226d8769c5,389d119b48cf3043d311335e499d9c6b,0.019373
92765,f0911a59fdcd8b103c3c87226d8769c5,35afc973633aaeb6b877ff57b2793310,0.018435
92990,f0911a59fdcd8b103c3c87226d8769c5,c211ff3068fcd2f8898192976d8b3a32,0.017920
92790,f0911a59fdcd8b103c3c87226d8769c5,42a2bd596fda1baef5719cb74f73030c,0.017183

In [146]:
Recommendations.loc[Recommendations['unique_id']=='f0911a59fdcd8b103c3c87226d8769c5'].sort_values(by=['score'], ascending = False)

,id,unique_id,product_id,score
89071,cf46c4a1a3f077bf5cd7e232b9bfb796,f0911a59fdcd8b103c3c87226d8769c5,75c06ee06b201f9b6301d2b5e72993f8,5
89072,cf46c4a1a3f077bf5cd7e232b9bfb796,f0911a59fdcd8b103c3c87226d8769c5,005030ef108f58b46b78116f754d8d38,5
89073,cf46c4a1a3f077bf5cd7e232b9bfb796,f0911a59fdcd8b103c3c87226d8769c5,51250f90d798d377a1928e8a4e2e9ae1,5

In [147]:
Recommendations = pd.read_sql('SELECT o.id,  c.unique_id, i.product_id, r.score FROM orders as o JOIN order_items as i ON(o.id = i.order_id) JOIN customers as c ON(o.customer_id = c.id) JOIN order_reviews as r ON(o.id = r.order_id)', con=engine)

In [148]:
Products = pd.read_sql('SELECT * from products' , con=engine)
Products.head()

,id,category_name,photos_qty,weight_g,length_cm,height_cm,width_cm
0,00066f42aeeb9f3007548bb9d3f33c38,perfumaria,6,300,20,16,16
1,00088930e925c41fd95ebfe695fd2655,automotivo,4,1225,55,10,26
2,0009406fd7479715e4bef61dd91f2462,cama_mesa_banho,2,300,45,15,35
3,000b8f95fcb9e0096488278317764d19,utilidades_domesticas,3,550,19,24,12
4,000d9be29b5207b54e86aa1b1ac54872,relogios_presentes,4,250,22,11,15

In [152]:
Filtro = Products['id'] == '75c06ee06b201f9b6301d2b5e72993f8'
Products[Filtro]['category_name']

15267    perfumaria
Name: category_name, dtype: object

In [153]:
Filtro2 = Products['id'] == '005030ef108f58b46b78116f754d8d38'
Products[Filtro2]['category_name']

38    perfumaria
Name: category_name, dtype: object

In [158]:
Filtro3 = Products['id'] == '51250f90d798d377a1928e8a4e2e9ae1'
Products[Filtro3]['category_name']

10530    perfumaria
Name: category_name, dtype: object

In [156]:
FiltroR= Products['id'] =='99a4788cb24856965c36a24e339b6058'
Products[FiltroR]

,id,category_name,photos_qty,weight_g,length_cm,height_cm,width_cm
19742,99a4788cb24856965c36a24e339b6058,cama_mesa_banho,1,1383,50,10,40

In [157]:
FiltroR_2= Products['id'] == '154e7e31ebfa092203795c972e5804a6'
Products[FiltroR_2]

,id,category_name,photos_qty,weight_g,length_cm,height_cm,width_cm
2794,154e7e31ebfa092203795c972e5804a6,beleza_saude,1,100,20,15,15

In [159]:
FiltroR_3= Products['id'] == '53759a2ecddad2bb87a079a1f1519f73'
Products[FiltroR_3]

,id,category_name,photos_qty,weight_g,length_cm,height_cm,width_cm
10840,53759a2ecddad2bb87a079a1f1519f73,ferramentas_jardim,2,1500,30,22,30

In [160]:
FiltroR_4= Products['id'] == '2b4609f8948be18874494203496bc318'
Products[FiltroR_4]

,id,category_name,photos_qty,weight_g,length_cm,height_cm,width_cm
5692,2b4609f8948be18874494203496bc318,beleza_saude,3,250,22,10,18

In [165]:
top_five_ranked.loc[top_five_ranked['unique_id'] == '1b6c7548a2a1f9037c1fd3ddfed95f33']

,unique_id,product_id,score
7159,1b6c7548a2a1f9037c1fd3ddfed95f33,99a4788cb24856965c36a24e339b6058,0.032628
6941,1b6c7548a2a1f9037c1fd3ddfed95f33,154e7e31ebfa092203795c972e5804a6,0.027176
7045,1b6c7548a2a1f9037c1fd3ddfed95f33,53759a2ecddad2bb87a079a1f1519f73,0.022574
6980,1b6c7548a2a1f9037c1fd3ddfed95f33,2b4609f8948be18874494203496bc318,0.020835
7104,1b6c7548a2a1f9037c1fd3ddfed95f33,7c1bd920dbdf22470b68bde975dd3ccf,0.020631
7326,1b6c7548a2a1f9037c1fd3ddfed95f33,ff55834c0b3272853dfe62340f2bb91b,0.020365
7004,1b6c7548a2a1f9037c1fd3ddfed95f33,389d119b48cf3043d311335e499d9c6b,0.019278
6996,1b6c7548a2a1f9037c1fd3ddfed95f33,35afc973633aaeb6b877ff57b2793310,0.018436
7221,1b6c7548a2a1f9037c1fd3ddfed95f33,c211ff3068fcd2f8898192976d8b3a32,0.017697
7021,1b6c7548a2a1f9037c1fd3ddfed95f33,42a2bd596fda1baef5719cb74f73030c,0.017225

In [166]:
Recommendations.loc[Recommendations['unique_id']=='1b6c7548a2a1f9037c1fd3ddfed95f33'].sort_values(by=['score'], ascending = False)

,id,unique_id,product_id,score
28778,abbd44be67f3cad08ffac14daf36af60,1b6c7548a2a1f9037c1fd3ddfed95f33,9d0aa87e8df1bdbe0f79353520a2d538,5
36808,a8347ba04591f966205182a1c99c310e,1b6c7548a2a1f9037c1fd3ddfed95f33,c7646a8d47c6414ce8e5770653f3e8b0,5
65721,54f334d6a9d60b69dae5409327f73645,1b6c7548a2a1f9037c1fd3ddfed95f33,8f83335d6508c667813ff14dc437bc81,5
65722,54f334d6a9d60b69dae5409327f73645,1b6c7548a2a1f9037c1fd3ddfed95f33,fbc1488c1a1e72ba175f53ab29a248e8,5
67769,bba17d97a5a45416d0782d5d07fe740d,1b6c7548a2a1f9037c1fd3ddfed95f33,bad02bda4c5cc1c81501022f3b06101c,5
85960,ab6d1b0b8360c208b62852f53726f0e6,1b6c7548a2a1f9037c1fd3ddfed95f33,306599a052830af3cfebe42ee7a79dde,5
85961,ab6d1b0b8360c208b62852f53726f0e6,1b6c7548a2a1f9037c1fd3ddfed95f33,aefb222adb91095556d8aee8ccd7f97f,5
104817,75b71f40b3c71469d12c7e4dc2ce0794,1b6c7548a2a1f9037c1fd3ddfed95f33,0ec96e6d31a1493b0475805c9ae1a0a2,5
112358,43f08913407cac4e74a898d968e58c1a,1b6c7548a2a1f9037c1fd3ddfed95f33,c80525a7dab2df6000ca88a2e7197323,5

In [169]:
with engine.connect() as conn:
        try:
            engine.connect()
        except:
            print("CAGAMOS")