<h2 align=center>Modelo de recomendación con base en productos.</h2>

Este modelo tiene por objetivo recomendar un producto de similares características al adquirido por un cliente. Para ello, se tendra en cuenta el precio, volumen, peso, categoría y popularidad. La idea es que pueda servir como un sistema de "comienzo en frío", es decir, que permita brindar una recomendación adecuada a perfiles que no ceuntan con antecedentes o información suficiente en la base de dato. 

Es recomendable destacar que, teniendo en consideración el estado de los datos con los que contamos al momento de la realización del presente proyecto, en la mayoría de los casos no disponemos de información suficiente para aplicar un modelo de filtrado colaborativo que pueda brindar resultados eficientes.

**Importamos librerías.**

In [5]:
import sqlalchemy as sql
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder, OrdinalEncoder

**Modelo de recomendación**

Creamos el motor para conectarnos a la base de datos en mysql e importamos la información necesaria a nuestros dataframe de pandas.

In [35]:
engine = sql.create_engine(
    "mysql+pymysql://root:password@localhost:3307/data_warehouse_olist?charset=utf8mb4"
)

In [36]:
df_ml = pd.read_sql('SELECT p.product_id, p.category_name, p.weight_g, p.length_cm, p.height_cm, p.width_cm, oi.price FROM products  as p JOIN order_items as oi ON(p.product_id = oi.product_id)', con=engine)

In [37]:
df_ml_productos = pd.read_sql('SELECT o.order_id,  oi.product_id FROM orders  as o JOIN order_items as oi ON(o.order_id = oi.order_id)', con=engine)

In [39]:
df_ml_productos.head()

                           order_id                        product_id
0  5f79b5b0931d63f1a42989eb65b9da6e  64315bd8c0c47303179dd2e25b579d00
1  a44895d095d7e0702b6a162fa2dbeced  84183944dc7cddca87a5d384452c1d3c
2  316a104623542e4d75189bb372bc5f8d  9df2b21ec85378d71df4404712e17478
3  5825ce2e88d5346438686b0bba99e5ee  af3ec22cce878225aae6d9eb6c7a78eb
4  0ab7fb08086d4af9141453c91878ed7a  868b3136c5b206f91b8208fbfdf2cb7c

In [59]:
df_ml.head()

,product_id,category_name,weight_g,price,volume,ventas_producto,group
0,00066f42aeeb9f3007548bb9d3f33c38,perfumaria,300,101.65,5120,1,623
1,00088930e925c41fd95ebfe695fd2655,automotivo,1225,129.90,14300,1,319
2,0009406fd7479715e4bef61dd91f2462,cama_mesa_banho,300,229.00,23625,1,932
3,000b8f95fcb9e0096488278317764d19,utilidades_domesticas,550,58.90,5472,2,324
5,000d9be29b5207b54e86aa1b1ac54872,relogios_presentes,250,199.00,3630,1,313

Creamos la columna volumen y eliminamos las que corresponden a las dimensiones del producto.

In [41]:
df_ml['volume']= df_ml['length_cm']*df_ml['height_cm']*df_ml['width_cm']
df_ml.drop(columns=['length_cm', 'height_cm','width_cm'], inplace= True)

Agrupamos por productos para saber la cantidad de ventas por productos.

In [43]:
df_ml3 = df_ml_productos.groupby(['product_id'])
df_ml2 = df_ml3.aggregate({'order_id':'count'})

Unimos al dataframe principal para que tenga los datos de cantidad de productos.

In [44]:

df_ml = df_ml.merge(df_ml2, left_on='product_id', right_on='product_id')

Renombramos columna.

In [46]:
df_ml.rename(columns={'order_id': "ventas_producto"}, inplace= True)

Se eliminan nulos y duplicados.

In [48]:
df_ml = df_ml.dropna(axis=0, how='any')

In [50]:
df_ml.drop_duplicates(inplace=True)

df_ml.drop_duplicates(inplace=True,subset='product_id')

Creamos grupos aplicando el algoritmo kmeans con base a las similitudes entre peso, precio y volumen de los productos y agregamos la columna al dataframe df_ml. Finalizado este paso, el dataframe ya esta listo.

In [55]:
kmeans = KMeans(n_clusters=1000)

kmeans.fit(df_ml[['weight_g', 'price','volume']])
df_ml['group'] = kmeans.labels_

c:\Users\guill\OneDrive\Documentos\Proyecto Grupal\PF-DTS05-E-COMMERCE-OLIST\venv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Guardamos en una variable el producto, que sirve de base para la recomendación.

In [94]:
product = '00066f42aeeb9f3007548bb9d3f33c38'

Generamos un listado de tres productos recomendados.

In [99]:
def recommend_products(product_id):
    filtro_aux = df_ml['product_id'] == product
    categoria = df_ml[filtro_aux]['category_name']
    group = df_ml[filtro_aux]['group']
    filtro = (df_ml['group'] == group.values[0]) & (df_ml['category_name'] == categoria.values[0]) & (df_ml['product_id']!= product)
    df =df_ml[filtro].sort_values(by='ventas_producto', ascending=False)
    return df.head(3)
    

productos_sugeridos = recommend_products(product)

In [98]:
productos_sugeridos

,product_id,category_name,weight_g,price,volume,ventas_producto,group
32685,48428054567e07738a70f9d2a9fa0475,perfumaria,250,44.99,5120,8,623
48769,6c69e1be6be2ab7ad5a9e4fe8a763b7f,perfumaria,500,339.00,5120,5,623
111738,fdde5bfe43004cc06f12152870b951f4,perfumaria,475,369.90,5120,3,623
2420,067c68a19be5d218b092cf260bfbd9cb,perfumaria,440,339.00,5187,1,623
19808,2ef0ffe318f7bc5fc4a5f25ca87200c5,perfumaria,150,10.00,5152,1,623
35555,4f7d43c1033d092cbf61921a482a1396,perfumaria,150,69.90,5304,1,623
48911,6cbd4637b69fff7d983bb1a757febf71,perfumaria,254,356.49,5130,1,623
50217,6f9f3f69c27aaeaac0cc6bc4d431f3e8,perfumaria,200,60.00,5120,1,623
83257,bc79853c871c6db8e48e4b0d47df7e70,perfumaria,300,274.00,5120,1,623
97232,dc7b5d2b32ae30c86acd229b5ff34dcc,perfumaria,400,63.00,5120,1,623