In [2]:
import sqlalchemy as sql
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder, OrdinalEncoder

In [3]:
engine = sql.create_engine(
    "mysql+pymysql://root:password@localhost:3307/data_warehouse_olist?charset=utf8mb4"
)

In [62]:
df_ml = pd.read_sql('SELECT p.id, p.category_name, p.weight_g, p.length_cm, p.height_cm, p.width_cm, oi.price FROM products  as p JOIN order_items as oi ON(p.Id = oi.product_id)', con=engine) 

df_ml_productos = pd.read_sql('SELECT o.id,  oi.product_id FROM orders  as o JOIN order_items as oi ON(o.Id = oi.order_id)', con=engine)

In [72]:
df_ml.head()

,id,category_name,weight_g,price,volume,productos_vendidos
0,00066f42aeeb9f3007548bb9d3f33c38,perfumaria,300,101.65,5120,1
1,00088930e925c41fd95ebfe695fd2655,automotivo,1225,129.90,14300,1
2,0009406fd7479715e4bef61dd91f2462,cama_mesa_banho,300,229.00,23625,1
3,000b8f95fcb9e0096488278317764d19,utilidades_domesticas,550,58.90,5472,2
5,000d9be29b5207b54e86aa1b1ac54872,relogios_presentes,250,199.00,3630,1

In [ ]:
df_ml['volume']= df_ml['length_cm']*df_ml['height_cm']*df_ml['width_cm']
df_ml.drop(columns=['length_cm', 'height_cm','width_cm'], inplace= True)

In [64]:
df_ml3 = df_ml_productos.groupby(['product_id'])
df_ml2 = df_ml3.aggregate({'id':'count'})

In [66]:
df_ml = df_ml.merge(df_ml2, left_on='id', right_on='product_id')

In [68]:
df_ml.rename(columns={'id_x': "id",'id_y': "productos_vendidos"}, inplace= True)

In [69]:
df_ml = df_ml.dropna(axis=0, how='any')

In [71]:
df_ml.drop_duplicates(inplace=True)

df_ml.drop_duplicates(inplace=True,subset='id')

In [75]:
kmeans = KMeans(n_clusters=1000)

kmeans.fit(df_ml[['weight_g', 'price','volume']])
df_ml['group'] = kmeans.labels_

c:\Users\guill\OneDrive\Documentos\Proyecto Grupal\PF-DTS05-E-COMMERCE-OLIST\venv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [73]:
product = '0009406fd7479715e4bef61dd91f2462'

In [76]:
def recommend_products(product_id):
    product_group = df_ml.loc[df_ml['id'] == product_id, 'group'].iloc[0]
    similar_products = df_ml.loc[df_ml['group'] == product_group, 'id']
    return product_group

group = recommend_products(product)

In [77]:
filtro_categoria = df_ml['id'] == product
categoria = df_ml[filtro_categoria]['category_name']

In [78]:
filtro = (df_ml['group'] == group) & (df_ml['category_name'] == categoria.values[0])
df_ml[filtro].sort_values(by='productos_vendidos', ascending=False)

,id,category_name,weight_g,price,volume,productos_vendidos,group
51732,7340a3839a1de1e99d149b8cf052a2ec,cama_mesa_banho,800,69.90,23625,44,663
41994,5bfc7506459ae2a7b4b573fe557a58e1,cama_mesa_banho,800,69.90,23625,31,663
17860,29fd9022374ff3fef2e8f82c39b4133e,cama_mesa_banho,800,69.90,23625,14,663
112073,fe95eb948375116da759c8ef60295001,cama_mesa_banho,800,65.90,23625,7,663
107764,f4d18451e6c35980e6898e36dfd6fb55,cama_mesa_banho,900,48.90,23625,7,663
32873,48ee9be392f28ae3a64518a070f4d06a,cama_mesa_banho,700,69.90,23625,7,663
45567,64ea282a67530101b655f890b4ac8e90,cama_mesa_banho,300,23.50,23625,6,663
246,00be617b58175bf207fd35910d5097a4,cama_mesa_banho,900,48.90,23625,5,663
74596,a94bae2ca6c0f6530af830bda6dae563,cama_mesa_banho,900,93.00,23625,3,663
52256,74a92612f70f4ae7bb26ead72c53b5d3,cama_mesa_banho,800,78.25,23625,2,663
6876,10163fabc9375e9bb72a109272730c6b,cama_mesa_banho,400,119.90,23625,2,663
36105,509db8ad81eb83b247f4b73569bacc76,cama_mesa_banho,500,159.90,23625,2,663
40033,580f59d167b4ded91943ef2b1f3d0077,cama_mesa_banho,400,26.90,23625,2,663
91436,cf721ee27a3c0f918f7aa1fabe7c6815,cama_mesa_banho,800,47.60,23625,2,663
48047,6aa994db5bc7ea9506451c75383e8769,cama_mesa_banho,850,90.10,23625,2,663
15688,2475f9f6b36857e1a35292cf761ffa48,cama_mesa_banho,650,47.60,23625,1,663
109411,f86ab4e67c4b9e24b61a0abab8cba388,cama_mesa_banho,500,279.00,23625,1,663
104537,ed5e88f9b72cfcd1e26db93ebe4b30fd,cama_mesa_banho,450,72.50,23625,1,663
98252,df2dc5b34edb94bedfa04203cd9d6e9f,cama_mesa_banho,700,35.15,23625,1,663
93492,d2fac83bdc41acb845baf953df64155a,cama_mesa_banho,450,107.60,23625,1,663
87076,c5c7cac0e35d3343b86942baf5c92f79,cama_mesa_banho,450,149.90,23625,1,663
80933,b7217c2f0d36a676e0350fa550c61fee,cama_mesa_banho,450,172.10,23625,1,663
76573,acb4bf13aa9ccb88c7c399fc6b025130,cama_mesa_banho,600,67.10,23625,1,663
49276,6d3dc397c315b4afa15c2cedda354740,cama_mesa_banho,600,19.90,23625,1,663
8854,153409f359e71cf10b3935f68a69875d,cama_mesa_banho,850,44.90,23088,1,663
49866,6ef76b1a0c15eb96ed49c78d38f37b68,cama_mesa_banho,600,51.00,23625,1,663
12977,1dd9019e9b721d5535c59d13551b2469,cama_mesa_banho,550,26.90,23625,1,663
47427,692b73430b9ae22f1dc67cc83722707f,cama_mesa_banho,513,54.90,23712,1,663
42367,5cf189f48af24c605a16bcdb701df823,cama_mesa_banho,750,65.90,23625,1,663
11908,1ae80eade3400d1468bf84ce7bd6b479,cama_mesa_banho,900,51.00,23625,1,663
38120,53edb39964473cfdfad5b78c9134bc7f,cama_mesa_banho,450,159.90,23625,1,663
37675,53a0052cf484bbda6ee2de455d79ce9f,cama_mesa_banho,450,35.15,23625,1,663
12088,1b6e2795daa2ca887a0310b0a79000e4,cama_mesa_banho,700,67.10,23625,1,663
25296,39f9ab5ea27485a4c3d32ee4c45630d8,cama_mesa_banho,450,126.00,23625,1,663
21537,3348355c60a53ca51a5bb5a4b63e77a6,cama_mesa_banho,750,35.15,23625,1,663
2,0009406fd7479715e4bef61dd91f2462,cama_mesa_banho,300,229.00,23625,1,663