In [7]:
import sqlalchemy as sql
import pandas as pd
import numpy as np
import datetime as dt

In [4]:
engine = sql.create_engine(
    "mysql+pymysql://root:password@localhost:3307/data_warehouse_olist?charset=utf8mb4"
)

In [6]:
dataframe_order_items = pd.read_sql('order_items', con=engine)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\base.py", line 1900, in _execute_context
    self.dialect.do_execute(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\default.py", line 736, in do_execute
    cursor.execute(statement, parameters)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\cursors.py", line 148, in execute
    result = self._query(query)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\cursors.py", line 310, in _query
    conn.query(q)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\connections.py", line 548, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\connections.py", line 775, in _read_query_result
    result.read()
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\connections.py", line 1156, in read
    first_packet = self.connection._read_packet()
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\connections.py", line 725, in _read_packet
    packet.raise_for_error()
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order_items' at line 1")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\IPython\core\interactiveshell.py", line 3442, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\USUARIO\AppData\Local\Temp\ipykernel_13440\1113993430.py", line 1, in <module>
    dataframe_order_items = pd.read_sql('order_items', con=engine)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pandas\io\sql.py", line 590, in read_sql
    return pandas_sql.read_query(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pandas\io\sql.py", line 1560, in read_query
    result = self.execute(*args)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pandas\io\sql.py", line 1405, in execute
    return self.connectable.execution_options().execute(*args, **kwargs)
  File "<string>", line 2, in execute
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\util\deprecations.py", line 468, in warned
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\base.py", line 3257, in execute
    return connection.execute(statement, *multiparams, **params)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\base.py", line 1365, in execute
    return self._exec_driver_sql(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\base.py", line 1669, in _exec_driver_sql
    ret = self._execute_context(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\base.py", line 1943, in _execute_context
    self._handle_dbapi_exception(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\base.py", line 2124, in _handle_dbapi_exception
    util.raise_(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\util\compat.py", line 211, in raise_
    # https://cosmicpercolator.com/2016/01/13/exception-leaks-in-python-2-and-3/
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\base.py", line 1900, in _execute_context
    self.dialect.do_execute(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\sqlalchemy\engine\default.py", line 736, in do_execute
    cursor.execute(statement, parameters)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\cursors.py", line 148, in execute
    result = self._query(query)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\cursors.py", line 310, in _query
    conn.query(q)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\connections.py", line 548, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\connections.py", line 775, in _read_query_result
    result.read()
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\connections.py", line 1156, in read
    first_packet = self.connection._read_packet()
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\connections.py", line 725, in _read_packet
    packet.raise_for_error()
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
sqlalchemy.exc.ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'order_items' at line 1")
[SQL: order_items]
(Background on this error at: https://sqlalche.me/e/14/f405)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\stack_data\core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\stack_data\core.py", line 660, in executing_piece
    return only(
  File "d:\PF-DTS05-E-COMMERCE-OLIST\env\lib\site-packages\executing\executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [4]:
dataframe_order_items

NameError: name 'dataframe_order_items' is not defined

In [11]:
dataframe_orders = pd.read_sql('orders', con=engine)
dataframe_orders

,id,customer_id,status,purchase_timestamp,approved_at,delivered_carrier_date,delivered_customer_date,estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13,2017-09-13,2017-09-19,2017-09-20,2017-09-29
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26,2017-04-26,2017-05-04,2017-05-12,2017-05-15
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14,2018-01-14,2018-01-16,2018-01-22,2018-02-05
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08,2018-08-08,2018-08-10,2018-08-14,2018-08-20
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04,2017-02-04,2017-02-16,2017-03-01,2017-03-17
...,...,...,...,...,...,...,...,...
99436,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23,2018-04-25,2018-04-25,2018-05-10,2018-05-18
99437,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14,2018-07-17,2018-07-17,2018-07-23,2018-08-01
99438,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23,2017-10-24,2017-10-26,2017-10-28,2017-11-10
99439,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14,2017-08-15,2017-08-15,2017-08-16,2017-08-25
99440,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09,2018-06-09,2018-06-11,2018-06-14,2018-06-28

In [14]:
ingresos_anio = pd.read_sql('select c.anio, sum(oi.price) as total from order_items oi JOIN orders o ON(oi.order_id = o.id) JOIN calendario c ON(c.Fecha = o.purchase_timestamp) group by c.anio;', con=engine)
ingresos_anio

   anio       total
0  2017  6155806.98
1  2018  7386050.80
2  2016    49785.92

In [15]:
ingresos_anio['anio']

0    2017
1    2018
2    2016
Name: anio, dtype: int64

In [16]:
df_orders_items = pd.read_sql('order_items', con=engine)
df_orders_items

,order_id,item_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14
...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79

In [17]:
df_orders_items['total'] = df_orders_items['price'] * df_orders_items['freight_value']
total = round(df_orders_items['total'].sum(), 2)
total

407135396.47

In [19]:
precios = round(df_orders_items['price'].sum(), 2)
precios

13591643.7

In [20]:
freight = round(df_orders_items['freight_value'].sum(), 2)
freight

2251909.54

In [21]:
total = precios + freight
total

15843553.239999998

In [3]:
categoria_produ = pd.read_sql('select p.category_name, sum(oi.price) as total from order_items oi JOIN products p ON(oi.product_id = p.id) group by p.category_name order by total desc limit 20 ;', con=engine)
temp = categoria_produ.category_name
temp

0               beleza_saude
1         relogios_presentes
2            cama_mesa_banho
3              esporte_lazer
4     informatica_acessorios
5           moveis_decoracao
6                 cool_stuff
7      utilidades_domesticas
8                 automotivo
9         ferramentas_jardim
10                brinquedos
11                     bebes
12                perfumaria
13                 telefonia
14         moveis_escritorio
15                 papelaria
16                       pcs
17                  pet_shop
18     instrumentos_musicais
19           eletroportateis
Name: category_name, dtype: object

### kpi - Variación porcentual del volumen de ventas por mes

In [43]:
kpi_variacionVentas = pd.read_sql('SELECT s.purchase_timestamp AS fecha, sum(s.total) AS total FROM (SELECT o.purchase_timestamp, sum(i.price) AS total FROM orders AS o RIGHT JOIN order_items AS i ON (o.id = i.order_id) WHERE o.status != "canceled" AND o.status != "unavailable" GROUP BY o.id ) AS s GROUP BY year(s.purchase_timestamp), month(s.purchase_timestamp) HAVING year(s.purchase_timestamp) = 2017 order by fecha asc ;', con=engine)
kpi_variacionVentas

         fecha       total
0   2017-01-28   120098.27
1   2017-02-04   244959.35
2   2017-03-23   368341.32
3   2017-04-26   353842.98
4   2017-05-15   503159.19
5   2017-06-20   429916.61
6   2017-07-17   492287.30
7   2017-08-12   568245.79
8   2017-09-13   621415.91
9   2017-10-16   660179.62
10  2017-11-21  1003862.14
11  2017-12-10   742183.79

### kpi - Puntuación neta del promotor

In [60]:
kpi_puntuacionPromotor = pd.read_sql(""" 
select score 
from order_reviews
where score > 3
""", con=engine)
kpn = kpi_puntuacionPromotor.shape[0]
kpn

76470

In [61]:
kpi_puntuacionPromotor = pd.read_sql(""" 
select score 
from order_reviews
where score <= 3
""", con=engine)
nkpn = kpi_puntuacionPromotor.shape[0]
nkpn

22754

In [63]:
total_c = kpn + nkpn
total_c

99224

In [59]:
pn = round(((kpn[0]-nkpn[0])/total_c)*100 ,2)
pn

54.14

### kpi - Fidelidad del cliente

In [64]:
df_customers = pd.read_csv("D:\PF-DTS05-E-COMMERCE-OLIST\data_warehouse\datasets\olist_customers_dataset.csv")
df_orders = pd.read_csv("D:\PF-DTS05-E-COMMERCE-OLIST\data_warehouse\datasets\olist_orders_dataset.csv")

In [65]:
df_merged_FC = pd.merge(df_customers, df_orders, on='customer_id')

In [66]:
df_merged_FC.drop(columns=['customer_zip_code_prefix','customer_city', 'customer_state', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date'], inplace=True)

In [67]:
df_merged_FC['order_purchase_timestamp'] = pd.to_datetime(df_merged_FC['order_purchase_timestamp'])
df_merged_FC

,customer_id,customer_unique_id,order_id,order_status,order_purchase_timestamp
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23

In [68]:
df_merged_FC['quarter'] =df_merged_FC['order_purchase_timestamp'].dt.quarter
df_merged_FC['year'] = df_merged_FC['order_purchase_timestamp'].dt.year

In [71]:
clientes_group = df_merged_FC.groupby(['customer_unique_id','quarter','year']).size().reset_index(name='num_compras')

In [72]:
clientes_group['compro_en_trimestre'] = clientes_group['num_compras'] > 1

In [73]:
clientes_group['compro_en_trimestre_anterior'] = clientes_group.groupby("customer_unique_id")['compro_en_trimestre'].shift(1)

In [74]:
clientes_group.tail()

,customer_unique_id,quarter,year,num_compras,compro_en_trimestre,compro_en_trimestre_anterior
97584,fffcf5a5ff07b0908bd4e2dbc735a684,2,2017,1,False,NaN
97585,fffea47cd6d3cc0a88bd621562a9d061,4,2017,1,False,NaN
97586,ffff371b4d645b6ecea244b27531430a,1,2017,1,False,NaN
97587,ffff5962728ec6157033ef9805bacc48,2,2018,1,False,NaN
97588,ffffd2657e2aad2907e67c3e9daecbeb,2,2017,1,False,NaN

In [75]:
clientes_fieles = clientes_group[(clientes_group['compro_en_trimestre'] == True) & (clientes_group['compro_en_trimestre_anterior'] == True)]
clientes_fieles

,customer_unique_id,quarter,year,num_compras,compro_en_trimestre,compro_en_trimestre_anterior
10516,1b6c7548a2a1f9037c1fd3ddfed95f33,4,2017,5,True,True
20643,35ecdf6858edc6427223b64804cf028e,4,2017,2,True,True
21963,397b44d5bb99eabf54ea9c2b41ebb905,2,2018,2,True,True
33148,56c8638e7c058b98aae6d74d2dd6ea23,2,2018,2,True,True
36154,5e8f38a9a1c023f3db718edcf926a2db,3,2017,3,True,True
37967,6358b15ef7fa9b1210f1a5735cabd3d9,2,2018,2,True,True
44138,738ffcf1017b584e9d2684b36e07469c,4,2017,2,True,True
53781,8d50f5eadf50201ccdcedfb9e2ac8455,2,2018,2,True,True
53782,8d50f5eadf50201ccdcedfb9e2ac8455,3,2017,5,True,True
53783,8d50f5eadf50201ccdcedfb9e2ac8455,3,2018,5,True,True
53784,8d50f5eadf50201ccdcedfb9e2ac8455,4,2017,3,True,True
63951,a7657330b1c135f3acd420326e335b2c,4,2017,2,True,True
77261,ca77025e7201e3b30c44b472ff346268,2,2018,3,True,True
80647,d3359a56d96666ac0c21bb01e7a61c95,3,2017,2,True,True
84838,de34b16117594161a6a89c50b289d35a,4,2017,3,True,True
97024,fe81bb32c243a86b2f86fbf053fe6140,4,2017,2,True,True

In [76]:
num_clientes_fieles = len(clientes_fieles)
num_clientes_fieles

16

In [77]:
num_total_clientes = len(clientes_group[clientes_group['compro_en_trimestre'] == True])
num_total_clientes

1736

In [78]:
porcentaje_clientes_fieles = round((num_clientes_fieles / num_total_clientes)*100,2)
porcentaje_clientes_fieles

0.92

### kpi - Tasa de Conversion

In [79]:
df_marketing = pd.read_csv("D:\PF-DTS05-E-COMMERCE-OLIST\data_warehouse\datasets\olist_marketing_qualified_leads_dataset.csv")
df_close_deals = pd.read_csv("D:\PF-DTS05-E-COMMERCE-OLIST\data_warehouse\datasets\olist_closed_deals_dataset.csv")

In [80]:
df_close_deals['won_date'] = pd.to_datetime(df_close_deals['won_date'])

In [81]:
df_close_deals['won_date'].max()

Timestamp('2018-11-14 18:04:19')

In [85]:
closed = df_close_deals["mql_id"]

In [84]:
df_marketing[df_marketing['mql_id'].isin(closed)]

,mql_id,first_contact_date,landing_page_id,origin
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search
12,a555fb36b9368110ede0f043dfc3b9a0,2018-04-04,2f08471dfb83baef522f952438a36f6e,referral
14,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search
39,f5fee8f7da74f4887f5bcae2bafb6dd6,2018-01-14,22c29808c4f815213303f8933030604c,paid_search
67,ffe640179b554e295c167a2f6be528e0,2017-10-09,a0fbc0263cb98bdb0d72b9f9f283a172,unknown
...,...,...,...,...
7978,df9a2abe2ad3f2d8758b675ac8331ecf,2018-03-28,a7982125ff7aa3b2054c6e44f9d28522,organic_search
7983,8723201570415eb23b4f095d8c20a27c,2018-05-18,b76ef37428e6799c421989521c0e5077,organic_search
7991,2e57665b8faf05c967a801eb5aedfa0a,2018-05-25,40dec9f3d5259a3d2dbcdab2114fae47,paid_search
7994,40955be51cc85c5a5a6cdd12b19e9f10,2018-02-04,88740e65d5d6b056e0cda098e1ea6313,social
7999,8a6492305a5fbcdcdd1a7f5a90764c07,2018-01-11,b76ef37428e6799c421989521c0e5077,direct_traffic

In [86]:
N_interesados = df_marketing.shape[0]
N_interesados

8000

In [87]:
N_convertidos = closed.shape[0]
N_convertidos

842

In [88]:
TC = round((N_convertidos/N_interesados) * 100,2)
TC

10.53

In [110]:
vendedores_interesados = pd.read_sql("""
select count(id) interesados
from marketing_qualified_leads
;""", con=engine)
vendedores_interesados

   interesados
0         8000

In [119]:
Vi = vendedores_interesados['interesados'][0]
Vi

8000

### kpi - Puntualidad de la entrega

In [124]:
entregas_puntuales = pd.read_sql(""" 
    select *
    from orders
    where estimated_delivery_date > delivered_customer_date 
    having status = 'delivered';
    """, con=engine)
Ep = entregas_puntuales.shape[0]
Ep

88644

In [125]:
total_entregas = pd.read_sql(""" 
    select * from orders;
    """, con=engine)
Te = total_entregas.shape[0]
Te

99441

In [126]:
Pe = round((Ep/Te)*100, 2)
Pe

89.14

### kpi - Tiempo total del proceso (TTP)

In [ ]:
tiempo_total = pd.read_sql(""" 
    select *, (delivered_customer_date - purchase_timestamp) as tiempo_total
    from orders
    where status = 'delivered';
    """, con=engine)

In [130]:
tiempo_total['tiempo_total'].mean()

267.75077226080646

In [3]:
ingresos_ST_ciudad = pd.read_sql("""
    select g.latitude, g.longitude, g.state, g.city, sum(oi.price) as ventas
    from order_items oi
    JOIN sellers s ON(s.seller_id = oi.seller_id)
    JOIN geolocations g ON(s.zip_code = g.zip_code)
    group by g.latitude, g.longitude, g.state
    order by ventas desc
    limit 20;""", con=engine)

In [4]:
ingresos_ST_ciudad

    latitude  longitude state                   city     ventas
0  -21.75732  -48.82974    SP               Ibitinga  624592.94
1  -21.36350  -48.22960    SP                Guariba  229472.63
2  -12.89317  -38.33787    BA       Lauro de Freitas  225525.05
3  -23.48611  -46.36672    SP        Itaquaquecetuba  204181.47
4  -22.82214  -47.27034    SP                 Sumaré  194916.03
5  -23.48969  -46.95292    SP                Barueri  176431.87
6  -22.70870  -47.66470    SP             Piracicaba  167319.05
7  -23.55234  -46.53687    SP              São Paulo  141745.53
8  -23.59550  -46.55973    SP              São Paulo  138968.55
9  -23.69101  -46.70381    SP              São Paulo  137957.42
10 -21.17286  -47.82370    SP         Ribeirão Preto  132198.67
11 -22.93526  -43.18726    RJ         Rio de Janeiro  128111.19
12 -23.65237  -46.75575    SP              São Paulo  124493.06
13 -25.45693  -49.30945    PR               Curitiba  120852.62
14 -22.54080  -43.20124    RJ             Petrópolis  114774.50
15 -20.80671  -49.38916    SP  São José do Rio Preto  114544.61
16 -22.75788  -47.41705    SP  Santa Bárbara d'Oeste  112500.31
17 -23.65936  -46.52318    SP            Santo André  105703.32
18 -20.94058  -45.82724    MG               Ilicínea  101901.16
19 -23.21175  -46.76288    SP   Campo Limpo Paulista  101372.80

In [5]:
clientes_estado = pd.read_sql("""
    select g.state, count(c.customer_id) as nclientes
    from customers c
    JOIN geolocations g ON(c.zip_code = g.zip_code)
    group by g.state
    order by nclientes desc
    limit 10;""", con=engine)

In [7]:
CE = clientes_estado['state']
CE

0    SP
1    RJ
2    MG
3    RS
4    PR
5    SC
6    BA
7    DF
8    ES
9    GO
Name: state, dtype: object

In [10]:
relacion_status = pd.read_sql("""
    select year(purchase_timestamp) as anio, status, count(status) as total
    from orders
    where status = 'delivered' or status='canceled' or status='unavailable'
    group by anio, status
    order by anio asc ;""", con=engine)
relacion_status

   anio       status  total
0  2016     canceled     26
1  2016    delivered    267
2  2016  unavailable      7
3  2017     canceled    265
4  2017    delivered  43428
5  2017  unavailable    457
6  2018     canceled    334
7  2018    delivered  52783
8  2018  unavailable    145

In [15]:
#relacion_status[(relacion_status['anio'] == 2016) & (df_emisiones['Nombre del país']=='Angola')].Emisiones_CO2.sum()
relacion_status[(relacion_status['anio'] == 2016)]

   anio       status  total
0  2016     canceled     26
1  2016    delivered    267
2  2016  unavailable      7
3  2016     canceled    265
4  2016    delivered  43428
5  2016  unavailable    457
6  2016     canceled    334
7  2016    delivered  52783
8  2016  unavailable    145