In [9]:
import sqlalchemy as sql
import pandas as pd

In [10]:
engine = sql.create_engine(
    "mysql+pymysql://root:password@localhost:3307/data_warehouse_olist?charset=utf8mb4"
)

In [6]:
dataframe_geolocation = pd.read_sql('geolocations', con=engine)

In [7]:
dataframe_geolocation

       zip_code             city state  latitude  longitude
0          1001        São Paulo    SP -23.55019  -46.63402
1          1002        São Paulo    SP -23.54815  -46.63498
2          1003        São Paulo    SP -23.54899  -46.63573
3          1004        São Paulo    SP -23.54980  -46.63476
4          1005        São Paulo    SP -23.54946  -46.63673
...         ...              ...   ...       ...        ...
19172     99960          Charrua    RS -27.95372  -52.02551
19173     99965       Água Santa    RS -28.18337  -52.03985
19174     99970          Ciríaco    RS -28.34377  -51.87469
19175     99980  David Canabarro    RS -28.38913  -51.84384
19176     99990        Muliterno    RS -28.32959  -51.76936

[19177 rows x 5 columns]

In [11]:
dataframe_orders = pd.read_sql('orders', con=engine)
dataframe_orders

,id,customer_id,status,purchase_timestamp,approved_at,delivered_carrier_date,delivered_customer_date,estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13,2017-09-13,2017-09-19,2017-09-20,2017-09-29
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26,2017-04-26,2017-05-04,2017-05-12,2017-05-15
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14,2018-01-14,2018-01-16,2018-01-22,2018-02-05
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08,2018-08-08,2018-08-10,2018-08-14,2018-08-20
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04,2017-02-04,2017-02-16,2017-03-01,2017-03-17
...,...,...,...,...,...,...,...,...
99436,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23,2018-04-25,2018-04-25,2018-05-10,2018-05-18
99437,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14,2018-07-17,2018-07-17,2018-07-23,2018-08-01
99438,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23,2017-10-24,2017-10-26,2017-10-28,2017-11-10
99439,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14,2017-08-15,2017-08-15,2017-08-16,2017-08-25
99440,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09,2018-06-09,2018-06-11,2018-06-14,2018-06-28

In [14]:
ingresos_anio = pd.read_sql('select c.anio, sum(oi.price) as total from order_items oi JOIN orders o ON(oi.order_id = o.id) JOIN calendario c ON(c.Fecha = o.purchase_timestamp) group by c.anio;', con=engine)
ingresos_anio

   anio       total
0  2017  6155806.98
1  2018  7386050.80
2  2016    49785.92

In [15]:
ingresos_anio['anio']

0    2017
1    2018
2    2016
Name: anio, dtype: int64

In [16]:
df_orders_items = pd.read_sql('order_items', con=engine)
df_orders_items

,order_id,item_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14
...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79

In [17]:
df_orders_items['total'] = df_orders_items['price'] * df_orders_items['freight_value']
total = round(df_orders_items['total'].sum(), 2)
total

407135396.47

In [19]:
precios = round(df_orders_items['price'].sum(), 2)
precios

13591643.7

In [20]:
freight = round(df_orders_items['freight_value'].sum(), 2)
freight

2251909.54

In [21]:
total = precios + freight
total

15843553.239999998